body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 125%;
  text-align: center;
  background-image: url(../assets/prometey-sanchez-noskov-c6M7AoevSXE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
label,
p,
h2,
h3{
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.anime{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.anime img {
  transition: 0.5s;
}

.anime img:hover {
  transform: scale(1.1);
}

.form{
  align-self: center;
}

.aboutImg {
  width: 15%;
  margin: 0 auto;
}

.aboutAnime p {
  width: 60%;
  margin: 0 auto;
}

.aboutAnime button {
  width: 5%;
  margin: 20px auto;
}

@media (max-width: 1500px) {
  .anime {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 35%;
  }
}

@media (max-width: 580px) {
  .wrapper {
    width: 95%;
  }
}